.no-tascks{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: #22AB74 10%;
}

.icon-tasck{
    width: 10%;
    height: 10%;
}

.tascksList{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: #22AB74 10%;
}